services:
  yaass:
    build: .
    restart: unless-stopped
    volumes:
      - ./data:/yaass/data
    ports:
      - '6969:6969'
    network_mode: "host" # ! this is a workaround for a Bun bug
    mem_limit: 1G